.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Italiana", serif;
    color: black;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Italiana", serif;
    color: black;
    background-image: url("bg2.png");
    background-size: cover;
}

.wrapper {
    margin-top: 10vh;
}

.numbers {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.number {
    margin-top: -5vh;
    position: relative;
    font-size: 10rem;
    z-index: 1;
}

.triangle {
    position: relative;
    font-size: 2rem;
    z-index: 5;
    color: white;
}

.triangle:hover {
    cursor: pointer;
    color: rgb(194, 194, 194);
}

#start-btn {
    height: 8vh;
    background-color: white;
    color: black;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 10vh;
    font-size: 3rem;
    border-radius: 1rem;
}

#start-btn:hover{
    cursor: pointer;
    background-color: rgb(194, 194, 194);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 3vh;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.box {
    border: 0.2rem solid white;
    width: 3vw;
    height: 3vw;
    border-radius: 0.5rem;
}

.box:hover{
    cursor: pointer;
}

.change:hover {
    animation: rotate 1s;
    cursor: pointer;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}